@import 'tailwindcss';
@import '@fontsource/raleway';

@theme {
  --font-raleway: 'Raleway', 'sans-serif';
  --color-purple-shade-100: #7700c6;
  --color-purple-shade-200: #560090;
  --color-purple-shade-300: #140021;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }
}

@layer utilities {
  .bg-mountain {
    background-image: url('@/assets/images/backgrounds/desktop-mountain-layer.svg');
    background-size: cover;
  }
  .bg-light-blob {
    background-image: url('@/assets/images/backgrounds/blobLight.svg');
    background-size: cover;
  }
  .bg-dark-blob {
    background-image: url('@/assets/images/backgrounds/blobDark.svg');
    background-size: cover;
  }
}
