@import 'tailwindcss';
@import '@fontsource/raleway';

@theme {
  --font-raleway: 'Raleway', 'sans-serif';
  --color-purple-shade: #7700C6;
  --color-purple-shade-200: #560090;
  --color-purple-shade-300: #140021;
}

html,
body {
  overflow-x: hidden;
}

.bg-mountain {
  background-image: url('@/assets/images/backgrounds/desktop-mountain-layer.svg');
  background-size: cover;
}
